.quation-main{
    width: 100%;
    padding: 50px 0 60px;
    @include media(1050px){
        padding: 20px 0 60px;
      }
      @include media(650px){
        padding: 15px 0 40px;
      }
    .quation-in{
        width: 100%;
        .top-t{
            color: #000000;
            font-weight: 600;
            span{
                color: #71777A;
                font-weight: 400;
            }
        }
        .txt-48{
            color: #021E2B;
            margin-top: 30px;
            font-weight: 700;
        }
        .tabs{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 30px;
            width: 100%;
            #tabs-nav{
                background: #F1F6F9;
                border-radius: 12px;
                margin: 0;
                padding: 0;
                width: 40%;
                height: max-content;
                li{
                    margin: 0;
                    padding: 24px;
                    &.active{
                        a{
                            color: $c16;
                         }  
                    }
                    a{
                        transition: .2s;
                       color: #043D54;
                       font-weight: 400;
                    }
                    border-bottom: 1px solid #DBE4E9;
                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
            #tabs-content{
                width: 57%;
                .accordion-item{
                    padding: 13px 25px;
                    border: 1px solid #D9D9D9;
                    border-radius: 12px;
                    margin-top: 18px;
                    &:first-child{
                        margin-top: 0;
                    }
                    .txt-18{
                        font-weight: normal;
                        color: #3F4649;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                   
                    .accordion-body{
                        margin-top: 12px;
                        border-top: 1px solid #D9D9D9;
                        padding: 20px 0;
                        font-weight: 400;
                        color: #3F4649;
                    }
                }
            }
        }
    }
}



