//boshqarma-page

.rahbaryat-main{
    width: 100%;
    padding: 50px 0 60px;
    .my-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }
    @include media(1050px){
        padding: 20px 0 60px;
      }
      @include media(650px){
        padding: 15px 0 40px;
      }
    .rahbaryat-in{
        width: 68%;
        @include media(1200px){
            width: 100%;
        }

        .top-t{
            color: #000000;
            font-weight: 600;
            span{
                color: #71777A;
                font-weight: 400;
            }
        }
        .txt-48{
            color: #021E2B;
            margin-top: 30px;
            font-weight: 700;
        }
        .main-content{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            .blog-in{
                width: 100% !important;
                .card-b{
                    width: 100% !important;
                }
            }
            .card-b{
                width: 100%;
                background: #FFFFFF;
                box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.07);
                border-radius: 12px;
                padding: 24px;
                margin-top: 30px;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                img{
                    width: 132px;
                    height: 132px;
                    border-radius: 50%;
                    margin-right: 24px;
                    @include media(1100px){
                        margin-bottom: 15px;
                    }
                }
                .sec{
                    margin-top: 5px;
                    .txt-14{
                        color: #7B8A90;
                        font-weight: 400;
                    }
                    .txt-18{
                        color: #000000;
                        font-weight: 600;
                        margin-top: 6px;
                    }
                    .main-c{
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .blog-in{
                            display: flex;
                            width: max-content;
                            margin-top: 18px;
                            flex-direction: column;
                            .top{
                                display: flex;
                                align-items: center;
                                svg{
                                    width: 13px;
                                    height: 14px;
                                    margin-right: 8px;
                                }
                                .txt-14{
                                    color: #7B8A90;
                                }
                            }
                            .bottom{
                                color: #000000;
                                margin-top: 8px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            
        }
    }

    .main-right{
        width: 30%;
        @include media(1200px){
            display: none;
        }
        .txt-30{
            color: #000;
            font-weight: 500;
        }
        .cards{
            margin-top: 12px;
            width: 100%;
            .s-card {
                margin-top: 12px;
                background: $cff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07);
                border-radius: 12px;
                padding: 12px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: .2s;
                &:hover{
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07) !important;
                    .txt-14{
                        color: $c16;
                    }
                }
                .top {
                  width: 100px;
                  height: 85px;
                  border-radius: 12px;
                  margin-right: 15px;
                }
                .right{
                  width: max-content;
                }
                .sana{
                    text-align: start;
                    display: flex;
                    align-items: center;
                    margin-top: 7px;
                    .txt-12 {
                        color: #BCBCBC;
                        font-weight: 400;
                    }
                    svg{
                        width: 12px;
                        height: 11px;
                        margin-right: 10px;
                    }
                }
                .main-text{
                    transition: .2s;
                  font-weight: 500;
                  color: #000000;
                }
    
    
    
              }
        }
    }
}

.bot-b{
    width: 100%;
    margin: 40px 0 0;
    padding-top: 18px;
    border-top: 1px solid #D9D9D9;
    position: relative;
    .glavni-btn{
        padding: 10px 24px;
        position: absolute;
        right: 18px;
        top: 18px;
        @include media(950px){
            position: relative;
            right: auto;
            top: auto;
        }
    }
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media(1100px){
        flex-direction: column-reverse;
    }
}

.acardions {
    width: 100%;
    @include media(1100px){
        width: 100%;
        margin-top: 18px;
    }
    display: flex;
    flex-direction: column;

    .accordion-item {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      &:first-child{
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      .item-header {
        display: flex;
        align-items: center;
        width: max-content;
        cursor: pointer;
        &.active{
            a{
                color: $c16;
                svg{
                    transform: rotate(180deg);
                    path{
                        fill: $c16;
                    }
                }
            }
        }
        a{
            display: flex;
            align-items: center;
            font-weight: 400;
            color: #043D54;
            transition: .2s;
            svg{
                width: 14px;
                height: 6px;
                margin-right: 10px;
                transition: .2s;
                path{
                    fill: #043D54;
                }
            }
            &:hover{
                color: $c16;
            svg{
                path{
                    fill: $c16;
                }
            }
            }
        }
      }

      .item-content {
        max-height: 0;
        overflow: hidden;
        transition: all 300ms ease;

        .item-answer {
            margin-top: 30px;
            font-weight: 400;
            color: #3F4649;
        }
      }
    }

  }