//background-color

$c16  : #169FD8;
$c04  : #043D54;
$c7b  : #7B8A90;
$c00  : #000000;
$c097 : #097BAA;
$cff  : #ffffff;
$c82  : #82AEC0;
$c6a  : #6A99AC;
$cdb  : #DBE4E9;
$cf1  : #F1F6F9;
$c80  : #808588;
$c03  : #00354A;



//transition

$tr1: .3s ease;
$tr2: .4s ease;
$tr3: .5s ease;

$font-inter: 'Inter',
sans-serif;